[//]: # "Created automatically by openapi3-generator"
<table>
<tr>
<!-- Side navigation -->
<td width="160px" valign="top">
<p>&nbsp;</p>
<ul>
<li> <a href="openapi.md">{{openapi.info.title}}</a>
{{#if openapi.components.securitySchemes}}
<li><a href="openapi_security.md">Authorization</a></li>
{{/if}}
{{#if openapi.tags}}
{{#each openapi.tags as |tag|}}
<li><a href="openapi_{{tagify tag.name}}.md">{{tag.name}}</a></li>
{{/each}}
{{/if}}
{{#if openapi.components.schemas}}
<li><a href="openapi_schemas.md">Document Types</a></li>
{{/if}}
{{#if openapi.components.responses}}
<li><a href="openapi_responses.md">Response Types</a></li>
{{/if}}
</ul>
</td>
<!-- Page content -->
<td>

# Responses

{{#each openapi.components.responses as |response responseName|}}
{{#if response.x-responseId}}

<a name="{{response.x-responseId}}"></a>

##  {{{response.description}}}

{{~> response response=response responseName=responseName hideTitle=true ~}}
{{/if}}
{{/each}}
</td>
</tr>
</table>
